root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
max_line_length = 80

[{*.js, *.jsx}]
ij_javascript_force_semicolon_style = true
ij_javascript_use_double_quotes = false
ij_javascript_spaces_within_brackets = true
ij_javascript_spaces_within_imports = true
ij_javascript_spaces_within_object_literal_braces = true
ij_javascript_enforce_trailing_comma = whenmultiline
